doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Cool Webview
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700', rel='stylesheet')
    link(rel='stylesheet', href='/webvUI.min.css')
    link(rel='stylesheet', href='/webvUI-menu.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.42/polyfill.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript', src='webvUI.min.js')
    script(type='text/javascript', src='webvUI-menu.js')
    script(type='text/javascript', src='webvUI-slider.js')
    script(type='text/javascript', src='main.js')
  body(style='background-color:#fafafa;')
    script(type='text/javascript').
      //load facebbok messenger Extention
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'Messenger'));
    form#my_form
      input#psid(type='hidden', name='psid')
      .main-container
        .page.button.js_show
          .page__hd
            input#demo.webvUI-input(type='text')
            h1.page__title Lead information
            p.page__desc Please fill in every box down below
          .page__bd.page__bd_spacing
            .webvUI-cells__title
              | Product Select
            .webvUI-cells.webvUI-cells_radio
              label.webvUI-cell.webvUI-check__label(for='x11')
                .webvUI-cell__bd
                  p
                    | A
                .webvUI-cell__ft
                  input#x11.webvUI-check(type='radio', name='radio1')
                  span.webvUI-icon-checked
              label.webvUI-cell.webvUI-check__label(for='x12')
                .webvUI-cell__bd
                  p
                    | B
                .webvUI-cell__ft
                  input#x12.webvUI-check(type='radio', name='radio1', checked='checked')
                  span.webvUI-icon-checked
            .webvUI-cells__title
              | Name
            .webvUI-cells
              .webvUI-cell
                .webvUI-cell__bd
                  input.webvUI-input(type='text', placeholder='Name', name='Name')
            .webvUI-cells__title
              | Tel
            .webvUI-cells
              .webvUI-cell
                .webvUI-cell__bd
                  input.webvUI-input(type='text', placeholder='Tel', name='Tel')
            .webvUI-cells__title
              | Address
            .webvUI-cells
              .webvUI-cell
                .webvUI-cell__bd
                  input.webvUI-input(type='text', placeholder='Address', name='Address')
            .webvUI-cells__title
              | Township
            .webvUI-cells
              .webvUI-cell
                .webvUI-cell__bd
                  input.webvUI-input(type='text', placeholder='Township', name='Town')
            .webvUI-cells__title
              | District
            .webvUI-cells
              .webvUI-cell
                .webvUI-cell__bd
                  input.webvUI-input(type='text', placeholder='District', name='District')
            .webvUI-cells__title
              | City
            .webvUI-cells
              .webvUI-cell
                .webvUI-cell__bd
                  input.webvUI-input(type='text', placeholder='City', name='City')
            .webvUI-cells__title
              | Zip Code
            .webvUI-cells
              .webvUI-cell
                .webvUI-cell__bd
                  input.webvUI-input(type='text', placeholder='Zip Code', name='Zip')
            .webvUI-cells
              .webvUI-cell.webvUI-cell_select.webvUI-cell_select-after
                .webvUI-cell__hd
                  label.webvUI-label(for='')
                    | country
                .webvUI-cell__bd
                  select.webvUI-select(name='select')
                    option(value='China')
                      | China
                    option(value='United States')
                      | United States
                    option(value='United Kingdom')
                      | United Kingdom
            a#submit.webvUI-btn.webvUI-btn_primary(href='#') Submit
